.box {
    right:  unset !important;
    left: 0px !important;
}

.profileIcon{
    width: 30px;
    height: 30px;
}

.options {
    min-width: unset !important;
    width: 100% !important;
}

:global(.vtex-login-2-x-label){
    font-weight: 600;
}
@media (max-width: 700px) {
    :global(.vtex-login-2-x-container){
        float: none;
        margin-bottom: 1em;
        margin-top: -3em;
    }
    :global(.vtex-login-2-x-label){
        display: block;
        color: white;
    }

    :global(.vtex-login-2-x-label)::before{
        content: url(/arquivos/white-user.svg);
        position: relative;
        z-index: 100;
        left: -10px;
        top: 7px;
    }


    :global(.vtex-login-2-x-profile){
        display: block;
        color: white;
        max-width: 148px;
        font-weight: 600;
    }

    :global(.vtex-login-2-x-profile)::before{
        content: url(/arquivos/white-user.svg);
        position: relative;
        z-index: 100;
        left: -10px;
        top: 7px;
    }    
}

.arrowUp {
    left: 15px;
}

.accountOptions :global(.vtex-login-2-x-button),
.accountOptions :global(.vtex-button),
.loginOptionsContainer :global(.vtex-button) {
    background-color: #000;
    color: #fff;
    font-family: "Intelo", sans-serif;
    font-size: 10px;
    width: 100%;
    font-weight: bold;
    border-radius: 0px;
}

:global(.vtex-login-2-x-container) :global(.vtex-button){
    background-color: transparent !important;
}
