/*.skuSelectorTextContainer{
    text-align: center;
}*/

.skuSelectorSubcontainer {
  margin: 0px;
}

.sellingPrice {
  color: #555555;
  font-size: 21.5pt;
  font-weight: 500;
  display: inline-block;
}

.price_listPrice--pdp,
.price_listPriceLabel--pdp,
:global(.vtex-store-components-3-x-listPrice) {
  font-family: "Intelo", sans-serif;
  font-size: 20px !important;
}

:global(.vtex-store-components-3-x-listPriceLabel),
:global(.vtex-store-components-3-x-listPriceValue) {
  font-size: 14pt;
  padding: 0px;
  margin-right: 5px;
}

.skuSelectorItem--selected .skuSelectorItemTextValue {
  color: #000 !important;
}

.skuSelectorItemTextValue {
  color: #bdbdbd;
  font-family: 'Intelo', sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: bold;
}

.skuSelectorName {
  font-family: 'Intelo', sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: normal;
  color: #9f9f9f;
}

:global(.vtex-store-components-3-x-price_sellingPriceLabel) {
  display: flex;
  align-items: center;
  position: relative;
  
  font-family: "Intelo", sans-serif;
  font-size: 20px;
}

:global(.vtex-store-components-3-x-price_sellingPriceLabel)::after {
  content: ":";
  display: block;
  margin-right: 5px;
  font-family: "Intelo", sans-serif;
  font-size: 20px;
}

:global(.vtex-store-components-3-x-listPriceValue) {
  margin-right: 5px;
}

.installmentsPrice {
  font-size: 17pt;
  font-weight: 600;
  display: inline-block;
  margin-left: 10px;
}

:global(.vtex-store-components-3-x-content) {
  color: #282828;
}

.savingPriceValue {
  color: #ea002a;
  font-size: 12pt;
  font-family: "Intelo", sans-serif;
}

:global(.vtex-store-components-3-x-price_installment) {
  color: #ea002a;
  font-size: 17pt;
}

:global(.vtex-reviews-and-ratings-2-x-graphBar){
  background: #ea002a;
}
:global(.vtex-store-components-3-x-searchBarContainer) {
  padding: 4px 0px;
}

.frameAround,
.skuSelectorInternalBox {
  border-radius: 0;
}
.shippingContainer {
  margin-bottom: 0px;
}

.productDescriptionTitle {
  display: none;
}

.searchBarIcon--external-search {
  background-color: white;
}

:global(.vtex-store-components-3-x-externalSearchButtonWrapper) {
  border: none;
}

:global(.vtex-store-components-3-x-searchBarContainer)
  :global(.vtex-input-prefix__group) {
  border-color: #4f4f4f;
  border-width: 1px;
  border-radius: 10px;
}

:global(.vtex-store-components-3-x-skuSelectorTextContainer) {
  margin-top: 15px;
  margin-bottom: 5px;
}

.skuSelectorOptionsList {
  margin: 0px;
}

.discountInsideContainer {
  border-radius: 2px;
  padding: 4px 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Intelo", sans-serif;
  font-size: 10px;
}

.price_sellingPriceContainer {
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  :global(.vtex-store-components-3-x-logoContainer) {
    margin-left: 25px;
  }

  .shippingContainer {
    margin-top: 23px;
  }

  :global(.vtex-search-2-x-biggy-autocomplete-wrapper){
    width: 95vw;
  }

  .discountInsideContainer {
    padding: 2px 5px;
    font-size: 8px;
  }
}

@media (min-width: 900px) {
  :global(.vtex-store-components-3-x-productBrand) {
    font-size: 30px !important;
  }
}


/* ]COntainer global */

.container {
  max-width: 1200px;
}

.searchBarContainer {
  max-width: 550px !important;
}

.sizeDesktop {
  padding: 0px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  max-width: unset;
}

.searchIcon {
  color: #4f4f4f;
}

.productImagesThumb {
  border: 1px solid #e0e0e0;
  padding: 10px;
}

.imageElement--carousel {
  display: block;
  height: 100%;
}

:global(.vtex-product-summary-2-x-price_listPriceLabel),
:global(.vtex-product-summary-2-x-price_listPriceContainer),
:global(.vtex-store-components-3-x-listPriceValue) {
  font-family: "Intelo", sans-serif;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #909090;
}

:global(.vtex-product-summary-2-x-price_sellingPriceLabel) {
  font-family: "Intelo", sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}

:global(.vtex-product-summary-2-x-price_sellingPrice) {
  font-family: "StretchPro", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}

:global(.vtex-search-2-x-biggy-autocomplete-wrapper) :global(.vtex-product-summary-2-x-price_sellingPriceContainer) {
  font-size: 0px;
  padding: 0px;
}

:global(.vtex-search-2-x-biggy-autocomplete-wrapper) :global(.vtex-product-summary-2-x-buyButtonText) {
  font-size: 0px;
}

:global(.vtex-search-2-x-biggy-autocomplete-wrapper) :global(.vtex-product-summary-2-x-buyButtonText)::before {
  content: "COMPRAR";
  font-family: "StretchPro", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
    color: #fff;
}

:global(.vtex-search-2-x-biggy-autocomplete-wrapper) :global(.vtex-product-summary-2-x-priceContainer) {
  padding: 0px;
}

:global(.vtex-store-components-3-x-listPriceValue) {
  text-decoration: line-through;
}

@media screen and (max-width: 768px) {
  .searchBarContainer {
    padding-bottom: 10px;
  }

  .productNameContainer {
    font-size: 17px; 
  }
  .price_sellingPrice--pdp {
    font-size: 30px;
    color: #555555;
    font-family: "StretchPro";
    padding: 0px;
  }
}

.shippingContainer :global(.vtex-input__label) {
  color: #4f4f4f;
  font-family: 'Intelo', sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
  letter-spacing: 0em;
  text-align: left;
}

.shippingContainer :global(.vtex-input-prefix__group) {
  border: 2px solid #BDBDBD;
  border-radius: 3px;
}

.shippingContainer :global(.vtex-button) {
  padding: 0px;
  font-family: 'Intelo', sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color:#979899;
}


@media screen and (min-width: 769px) {
  .skuSelectorTextContainer {
    margin-top: 26px;
  }

  .shippingContainer {
    margin-top: 26px;
  }
}