.sellingPrice {
  text-align: left;
  margin-bottom: 1em;
  color: #4f4f4f;
}
.sellingPriceValue {
  font-size: 16px;
  font-weight: 500;
  color: #000 !important;
  font-family: "StretchPro";
}

.sellingPriceValue::before {
  content: "Por: ";
  font-size: 14px;
  font-family: "DINpro", sans-serif;
  font-weight: normal;
}

.listPrice {
  text-align: left;
  min-height: 16px;
  color: #909090;
  font-family: "Intelo", sans-serif;
  font-weight: 400;
}

.listPrice::before {
  content: "De: ";
  font-size: 14px;
}

.savings {
  display: none;
}

.installments--pdp-installments {
  position: relative;
  top: -5px;
}

.installments--pdp-installments {
  font-weight: normal;
  font-family: "Intelo", sans-serif;
  font-size: 17px;
  color: #282828;
}

.savings {
  font-size: 12pt;
  font-family: "Intelo", sans-serif;
  color: #FF0000;
}

.currencyContainer--pdp-installments,
.installmentsNumber--pdp-installments,
.installmentsNumber--pdp-installments::after {
  content: "x";
  color: #FF0000;
  font-weight: bold;
}

@media (max-width: 700px) {
  .installments--pdp-installments {
    top: 0px;
    margin-left: 0px;
  }

  .sellingPriceValue {
    font-size: 14px;
  }
  .sellingPriceValue::before {
    content: "Por: ";
    font-size: 12px;
  }

  .listPrice::before {
    content: "De: ";
    font-size: 12px;
  }
  .listPrice {
    font-size: 12px;
  }

  .sellingPrice {
    margin-bottom: 0px;
  }
}
