.link {
  font-family: "Intelo", sans-serif;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #adadad;
}

.caretIcon {
  display: none;
}

.container {
  margin-top: 32px;
  align-items: center;
  display: flex;
  padding: 0px;
  margin-bottom: 21px;
}

.arrow {
  display: flex;
  align-items: center;
}

.homeIcon {
  overflow: visible !important;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.arrow::before {
  content: "/";
  font-size: 15px;
  color: #828282;
  display: block;
  font-family: "DINPro-Medium", sans-serif;
}

.homeLink {
  padding: 0px;
}

@media screen and (max-width: 768px) {
  .term,
  .link {
    font-size: 9px;
    color: #979899;
    line-height: normal;
  }

  .container {
    margin-top: 21px;
    margin-bottom: 19px;
  }
}