.nameContainer{
    text-align: center;
    justify-content: center !important;
}

.productBrand{
    color: black !important;
    font-weight: 600;
}

.skuSelectorInternalBox{
    border-color: #EA002A !important;
}


.element:hover {
    
}

.nameContainer{
    min-height: 4.5em;
    padding-top: 1rem;
}




:global(.vtex-product-summary-2-x-containerNormal):hover{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}


@media (max-width: 1100px) {
    :global(.vtex-product-summary-2-x-element) {
        padding: 8px;
    }
}

@media (min-width: 1100px) {
    :global(.vtex-product-summary-2-x-containerNormal){
        padding: 12px;
    }
}


