.flexRow--newslettercontent{
    background-color: #DBDBDB;
    padding-bottom: 1em;
}

:global(.vtex-flex-layout-0-x-flexRowContent--flags__list), :global(.vtex-flex-layout-0-x-flexRowContent--social__row) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flexRow--footer__politicas{
    background-color: #EDEFF2;
}


:global(.vtex-flex-layout-0-x-flexRow--menu-content-area){
    width: 80%;
}



@media (min-width: 1125px) {
    :global(.vtex-flex-layout-0-x-flexRowContent--social__row), :global(.vtex-flex-layout-0-x-flexRowContent--flags__list){
        justify-content: left !important;
    }
    :global(.vtex-flex-layout-0-x-flexCol--filterCol){
        width: 230px;
    }

    .flexRowContent--footer__content, .flexRowContent--footer__copyright{
padding-left: 2em;
    }

 
}


@media (max-width: 1125px) {
    :global(.vtex-flex-layout-0-x-flexRowContent--powered__row){
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .flexRowContent--footer__content{
        flex-wrap: wrap;
    }
    .flexRowContent--footer__content :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        width: 100% !important;
    }
}


@media (min-width: 1200px) {
    .flexRowContent--social-icons-row :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        width: 100% !important;
    }

    .flexRowContent--social-icons-row :global(.vtex-flex-layout-0-x-stretchChildrenWidth):not(:first-child){
        display: none;
    }
   }

