.sliderLayoutContainer--carousel-policies,
.slideChildrenContainer--carousel-policies {
  background-color: #E4E4E4;
}

.sliderLayoutContainer--carousel-policies {
  padding: 20px 0px;
}

.sliderTrackContainer--carousel-policies {
  max-width: 1270px;
  margin: 0 auto;
}

.paginationDotsContainer--carousel {
  bottom: 15px;
}

@media screen and (max-width: 768px) {
  .slide--slider-shelf--default {
    margin: 0px 10px;
  }

  .sliderLayoutContainer--carousel-policies {
    padding: 20px 10px;
  }

  .slideChildrenContainer--brands-slider :global(.vtex-store-components-3-x-imageElement) {
    max-width: 108px;
    max-height: 86px;
  }

  .sliderTrackContainer--slider-shelf--default {
    padding-bottom: 10px;
  }
  .sliderLayoutContainer--slider-shelf--default {
    padding: 0px !important;
    padding-bottom: 10px;
  }

  .sliderLeftArrow--slider-shelf--default {
    left: -10px !important;
  }

  .sliderRightArrow--brands-slider {
    right: 10px;
  }
}

.caretIcon,
.caretIcon--slider-shelf--default {
  overflow: visible !important;
}

@media screen and (min-width: 1025px) {
  .slideChildrenContainer--slider-shelf--default {
    padding: 0px 10px 10px;
  }

  .sliderLeftArrow {
    left: -7px;
  }

  /* alinhamento com container */
.sliderArrows,
.sliderRightArrow--slider-shelf--default,
.sliderLeftArrow--slider-shelf--default {
  padding: 0px !important;
  margin: 0px !important;
}
}
