.searchResultContainer {
  padding: 0px 1.5rem;
}

:global(.vtex-checkbox__inner-container) {
  border-color: #ea002a;
  border-width: 1px !important;
}
.filterTitle {
  color: #333;
  font-weight: 700;
}

:global(.vtex-search-result-3-x-filterItem)
  :global(.vtex-checkbox__line-container) {
  display: flex;
  align-items: center;
}

.galleryTitle--layout {
  margin: 0px;
  font-size: 24px;
}

:global(.vtex-search-result-3-x-buttonShowMore) :global(.vtex-button) {
  background-color: white;
  color: #c6c6c6;
  border-color: #c6c6c6;
  font-size: 22px;
  padding: 6px 40px;
  margin-top: 1em;
  border: solid 3px;
  font-weight: bold;
}

:global(.vtex-search-result-3-x-filtersWrapper) {
  display: flex !important;
  flex-direction: column !important;
}

:global(.vtex-search-result-3-x-filterBreadcrumbsText),
:global(.vtex-search-result-3-x-filterBreadcrumbsItemName) {
  font-family: "Intelo";
}

@media (min-width: 1100px) {
  :global(.vtex-search-result-3-x-progressBarContainer) {
    text-align: center;
    margin-left: 14em;
    margin-top: 2em;
  }
}

/*:global(.vtex-search-result-3-x-filter__container--cor-){
    order: 1
}

:global(.vtex-search-result-3-x-filter__container--tamanho-){
    order: 2
}

:global(.vtex-search-result-3-x-filter__container--brand){
    order: 3
}

:global(.vtex-search-result-3-x-filter__container--priceRange){
    order: 4
}
:global(.vtex-search-result-3-x-filter__container--category-1){
    order: 5
}
:global(.vtex-search-result-3-x-filter__container--category-2){
    order: 6
}

:global(.vtex-search-result-3-x-filter__container--category-3){
    order: 7
}*/

:global(.vtex-search-result-3-x-filterTitleSpan){
  
  text-transform: uppercase
}

.filter__container--title {
  display: none;
}

.galleryTitle--layout {
  font-size: 30px;
  text-transform: uppercase;
}

.galleryItem--normal {
  padding: 0px;
}

:global(.vtex-search-result-3-x-filterPopupTitle){
  font-weight: 600;
  color: black;
}

:global(.vtex-search-result-3-x-totalProducts--layout) {
  font-weight: bold;
}

:global(.vtex-search-result-3-x-progressBarFiller){
  background-color: #D92F2F;
}

.filterTitleSpan {
  font-family: "Intelo", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.filterItem :global(.vtex-checkbox__label) {
  font-family: "Intelo", sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #515151;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.galleryItem {
  max-width: unset !important;
}

.gallery :global(.vtex-product-summary-2-x-containerNormal) {
  padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    padding: 0px !important;
  }

  .searchResultContainer {
    padding: 0px;
  }
}