:global(.vtex-menu-2-x-styledLinkContent--menu-sobre-footer) {
    justify-content: center;
}

.styledLinkContent--linkList-footer-toggle {
    margin-top: 1em;
    margin-bottom: 1em;
}

:global(.vtex-menu-2-x-menuItemInnerDiv--linkList-footer-toggle) {
    background-color: #EDEFF2;
    margin-bottom: 8px;
    margin-top: 8px;
}

.styledLinkContent--menu-footer {
    font-size: 19px;
}

:global(.vtex-menu-2-x-styledLinkContainer--menu-footer) {
    padding-bottom: 1rem;
}


:global(.vtex-store-header-2-x-headerRow--main-header) {
    padding-bottom: 1em;
}


.styledLinkContent--allCategoryBlock{
    color:#828282;
    font-family: "StretchPro";
    font-size: 0.8rem;
}

.styledLinkContainer--allCategoryBlock{
    padding-bottom: 12px;
}

.styledLinkContent--allCategoryBlock:hover{
    color: #4F4F4F
}

.styledLinkContent--subcat-title{
    font-size: 23px;
    font-weight: 600;
}

.menuContainer--row-menu-col .styledLinkContainer{
    margin-bottom: 1em;
}

.submenuWrapper--main-menu-row-desk{
    background-color: #EDEFF2;
}

.menuContainerNav--category-menu-mobile, .submenuAccordion--allSubmenuBlock :global(.vtex-menu-2-x-menuContainerNav){
    width: 100%;
}

.styledLinkContent--mob__toplevel1{
    font-weight: 600;
}

.menuContainer--category-menu-mobile .accordionIcon--isOpen {
    transform: translateY(-50%) rotate(180deg);
    content: url(/arquivos/arrow-menus.svg);
    transition: 0.3s;
    width: 16px;
    margin-top: 10px;
  }
  
  .menuContainer--category-menu-mobile .accordionIcon--isClosed {
    transform: translateY(-50%) rotate(0deg);
    content: url(/arquivos/arrow-menus.svg);
    transition: 0.3s;
    width: 16px;
    margin-top: 10px;
  }

  .styledLinkContent--submenu{
    font-size: 18px;
  }


  .styledLinkContent--submenu--inst{
    color: #6F6F6F;
    border: solid 1px #ED1C24;
    border-radius: 5px;
    padding: 20px 12px;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  .styledLinkContent--submenu--inst:hover{
    color: #FFFFFF !important;
    background-color: #ED1C24;
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
   
  }

  @media (min-width: 760px) and (max-width: 1100px) {
    .styledLinkContent--submenu--inst{
    font-size: 11px;
      }
}