.title {
  text-align: left;
  justify-content: normal;
  color: black;
  font-size: 28px;
  text-transform: uppercase;
}

.title::before {
  content: url(/arquivos/title-img.png);
  position: relative;
  z-index: 100;
  left: 10px;
  top: 14px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 21px;
  }

  .slide--related--shelf {
    margin: 0px 12px;
  }
}

.caretIcon--related--shelf {
  overflow: visible !important;
}

@media screen and (min-width: 769px) {
  .container--related--shelf {
    margin-top: 100px;
    padding-top: 0px;
  }
}