.cartIcon {
  width: 35px;
  height: 35px;
}

/*.cartIcon::after{
    content: "CARRINHO";
    color: #3f3f40;
    position: relative;
    font-size: 16px;
    top: -2px;
    margin-left: 1em;
}*/

:global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) {
  background-color: transparent !important;
}

.minicartCheckoutButton :global(.vtex-button__label) {
  font-family: "StretchPro", sans-serif;
  font-size: 12px;
}

.openIconContainer,
.minicartContainer :global(.vtex-button__label) {
  padding-right: 0px;
}

:global(.vtex-minicart-2-x-minicartQuantityBadgeDefault){
  top: -0.1rem;
    right: -0.6rem;
}


:global(.vtex-minicart-2-x-closeIcon){
  content: " ";
  left: 9px;
  position: relative;
  background-image: url(/arquivos/X-gray.svg);
  margin-top: 10px;
  padding-left: 9px;
  background-size: 25px;
  background-repeat: no-repeat;
}