
:global(.vtex-checkbox__inner-container) {
  border-color: #ea002a;
  border-width: 1px !important;
}
.filterTitle {
  color: #333;
  font-weight: 700;
}

:global(.vtex-search-result-3-x-filterItem)
  :global(.vtex-checkbox__line-container) {
  display: flex;
  align-items: center;
}

.galleryTitle--layout {
  margin: 0px;
  font-size: 24px;
}

:global(.vtex-search-result-3-x-buttonShowMore) :global(.vtex-button) {
  background-color: white;
  color: #b1b1b1;
  border-color: #b1b1b1;
  font-size: 20px;
  padding: 6px 40px;
  margin-top: 1em;
  border: solid 3px;
  font-weight: bold;
  font-family: "Intelo", sans-serif;
  margin: 0px;
  border-radius: 10px;
  font-weight: bold;
}

:global(.vtex-search-result-3-x-filtersWrapper) {
  display: flex !important;
  flex-direction: column !important;
}

:global(.vtex-search-result-3-x-filterBreadcrumbsText),
:global(.vtex-search-result-3-x-filterBreadcrumbsItemName) {
  font-family: "Intelo";
}

@media (min-width: 1100px) {
  :global(.vtex-search-result-3-x-progressBarContainer) {
    text-align: center;
    margin-left: 14em;
    margin-top: 2em;
  }
}

.progressBarContainer {
  margin-left: 15%;
  margin-top: 0px !important;
}

/*:global(.vtex-search-result-3-x-filter__container--cor-){
    order: 1
}

:global(.vtex-search-result-3-x-filter__container--tamanho-){
    order: 2
}

:global(.vtex-search-result-3-x-filter__container--brand){
    order: 3
}

:global(.vtex-search-result-3-x-filter__container--priceRange){
    order: 4
}
:global(.vtex-search-result-3-x-filter__container--category-1){
    order: 5
}
:global(.vtex-search-result-3-x-filter__container--category-2){
    order: 6
}

:global(.vtex-search-result-3-x-filter__container--category-3){
    order: 7
}*/

:global(.vtex-search-result-3-x-filterTitleSpan){
  
  text-transform: uppercase
}

.filter__container--title {
  display: none;
}

.galleryTitle--layout {
  font-size: 30px;
  text-transform: uppercase;
}

.galleryItem--normal {
  padding: 0px;
}

:global(.vtex-search-result-3-x-filterPopupTitle){
  font-weight: 600;
  color: black;
}

:global(.vtex-search-result-3-x-totalProducts--layout) {
  font-weight: bold;
}

:global(.vtex-search-result-3-x-progressBarFiller){
  background-color: #D92F2F;
}

.filterTitleSpan {
  font-family: "Intelo", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.filterItem :global(.vtex-checkbox__label) {
  font-family: "Intelo", sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #515151;
}

/* 
.galleryItem :global(.vtex-product-summary-2-x-clearLink) {
  padding: 0px 10px;
} */

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px 25px;
}

.galleryItem {
  max-width: unset !important;
}

.gallery :global(.vtex-product-summary-2-x-containerNormal) {
  padding-bottom: 5px;
}

.filterItem {
  margin-bottom: 13px;
}

.filter__container {
  border-bottom: 1px solid rgba(172, 172, 172, 0.45);
}

.galleryTitle--layout {
  margin-bottom: 32px;
}

.filterContent :global(.vtex-checkbox__label) {
  margin-left: 16px;
}

.filterAvailable {
  padding: 19px 0px 18px;
}

.gallery {
  padding-left: 10px;
}

.gallery :global(.vtex-add-to-cart-button-0-x-buttonText) {
  font-size: 16px;
  line-height: normal;
}

.galleryItem :global(.vtex-product-summary-2-x-productBrand) {
  max-height: 35px;
}

.galleryItem :global(.vtex-button) {
  min-height: 32px;
}

.totalProducts--layout {
  font-family: "DINPro", sans-serif;
  font-weight: normal;
  padding-right: 0px;
}

.selectedFilterItem :global(.vtex-checkbox__label) {
  font-weight: bold;
  color: #ADADAD;
  font-family: "Intelo", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
}

.filterPopupTitle,
.totalProductsMessage {
  padding: 0px;
  font-family: "Intelo", sans-serif;
  margin-right: 60px;
  font-weight: 200;
  color: #000;
}

.filterPopupTitle {
  font-weight: bold;
}

.orderByButton {
  padding-right: 0px;
}

.orderByText {
  color: #000;
  font-weight: 200;
}

.filterPopupTitle {
  margin: 0px;
}

.container--layout :global(.vtex-flex-layout-0-x-flexRow--promos) {
  margin-bottom: 108px;
}

.progressBar {
  margin-top: 58px;
}

@media screen and (max-width: 768px) {
  .gallery {
    display: flex;
    padding: 0px !important;
    grid-gap: 0px !important;
  }

  .searchResultContainer {
    padding: 0px;
  }

  .galleryItem--small {
    max-width: 50% !important;
  }

  .galleryItem :global(.vtex-product-summary-2-x-productBrand) {
    max-height: 26px !important;
  }

  .galleryItem :global(.vtex-product-summary-2-x-clearLink) {
    padding: 0px;
  }

  .galleryItem--normal :global(.vtex-button) {
    width: 100%;
    max-width: unset;
  }

  .galleryItem :global(.vtex-button) {
    min-height: 22px !important;
  }

  .galleryItem--normal {
    margin-bottom: 32px;
  }

  .totalProductsMessage {
    margin: 0px;
  }

  .gallery :global(.vtex-add-to-cart-button-0-x-buttonText) {
    font-size: 12px;
    line-height: normal !important;
  }

  .gallery :global(.vtex-product-summary-2-x-containerNormal) {
    padding: 0px;
  }

  .progressBarContainer {
    margin: 0px;
  }

  .progressBar {
    margin-top: 43px;
  }

  .container--layout :global(.vtex-flex-layout-0-x-flexRow--promos) {
    margin-bottom: 43px;
  }
}