.sliderLayoutContainer--carousel-policies,
.slideChildrenContainer--carousel-policies {
  background-color: #E4E4E4;
}

.sliderTrackContainer--carousel-policies {
  max-width: 1270px;
  margin: 0 auto;
  padding: 23px 0px;
}

.paginationDotsContainer--carousel {
  bottom: 15px;
}

@media screen and (min-width: 1025px) {
  .slideChildrenContainer--slider-shelf--default {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .slide--slider-shelf--default {
    margin: 0px 10px;
  }
}
