.profileIcon{
    width: 30px;
    height: 30px;
}

@media (max-width: 700px) {
    :global(.vtex-login-2-x-container){
        float: none;
        margin-bottom: 1em;
    }
    :global(.vtex-login-2-x-label){
        display: block;
    }
}

:global(.vtex-login-2-x-container) :global(.vtex-button){
    background-color: transparent !important;
}
