.link {
  font-family: "Intelo", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #adadad;
}

.caretIcon {
  display: none;
}

.container {
  margin-top: 32px;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.arrow {
  display: flex;
  align-items: center;
}

.homeIcon {
  overflow: visible !important;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.arrow::before {
  content: "/";
  font-size: 15px;
  color: #828282;
  display: block;
  font-family: "DINPro-Medium", sans-serif;
}

.homeLink {
  padding: 0px;
}

@media screen and (max-width: 768px) {
  .term,
  .link {
    font-size: 12px;
  }
}