:global(.vtex-menu-2-x-styledLinkContent--menu-sobre-footer) {
    justify-content: center;
}

.styledLinkContent--linkList-footer-toggle {
    margin-top: 1em;
    margin-bottom: 1em;
}

:global(.vtex-menu-2-x-menuItemInnerDiv--linkList-footer-toggle) {
    background-color: #F3F3F3;
    margin-bottom: 8px;
    margin-top: 8px;
}

.styledLinkContent--menu-footer {
    font-size: 19px;
}

:global(.vtex-menu-2-x-styledLinkContainer--menu-footer) {
    padding-bottom: 1rem;
}

:global(.vtex-menu-2-x-styledLinkContainer--allCategoryBlock) {
    padding-bottom: 0px !important;
}

:global(.vtex-store-header-2-x-headerRow--main-header) {
    padding-bottom: 1em;
}


.styledLinkContent--allCategoryBlock{
    color:#828282;
    font-family: "DINPro";
}

.styledLinkContent--allCategoryBlock:hover{
    color: #4F4F4F
}