.paragraph--sectorTitle::before{
    content:url('/arquivos/title-img.png'); 
    position:relative; 
    z-index:100; 
    left: 10px;
    top: 14px;
}

.container--newsletterTitle :global(.vtex-rich-text-0-x-paragraph){
    margin-bottom: 10px;
    margin-top: 10px
}

.container--newsletterTitle{
    background-color: #E0E0E0;
}

.paragraph--footer-sobre{
    color: #4F4F4F;
    font-weight: bold;
    margin-bottom: 0.5em;
}

:global(.vtex-rich-text-0-x-paragraph--payment__image), :global(.vtex-rich-text-0-x-paragraph--social__image){
    margin: 0 25px 25px 0;
}


:global(.vtex-rich-text-0-x-image--footer-politicas-list){
    margin-bottom: -5px;
    margin-right: 10px;
}

:global(.vtex-rich-text-0-x-image--cbyk){
    width: 65px;
    margin-left: 20px;
}
:global(.vtex-rich-text-0-x-image--vtex){
    width: 90px;
    margin-left: 20px;
}


@media (min-width: 1100px) {
    :global(.vtex-rich-text-0-x-container--footer-sobre){
        justify-content: left !important;
    }
}
