

:global(.vtex-store-newsletter-1-x-emailInputContainer--newsletterInput) :global(.vtex-styleguide-9-x-input), :global(.vtex-store-newsletter-1-x-nameInputContainer--newsletterInput) :global(.vtex-styleguide-9-x-input){
    text-align: center;
}

:global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button){
    background-color: #D92F2F;
    border-color: #D92F2F;
 }


.formSubmitContainer{
    margin-top: 8px;
}
@media (max-width: 700px) {
    .formSubmitContainer{
        margin-top: 40px;
    }
}

:global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button){
    border-color: none !important;
    font-family: "Intelo", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.newsletterForm :global(.vtex-input-prefix__group) {
    border: none;
}

.newsletterForm :global(.vtex-styleguide-9-x-input) {
    border: 1px solid #4f4f4f;
    border-radius: 10px;
}


@media (min-width: 700px) {
    :global(.vtex-store-newsletter-1-x-newsletterForm){
        display: flex;
        margin-top: 10px;   
        max-width: 100%;
        justify-content: flex-end;
        height: 93px;
        align-items: center;
    }

    .nameInputContainer,  :global(.vtex-store-newsletter-1-x-emailInputContainer){
        width: 30% !important;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    :global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button){
        min-width: 230px;
        border-radius: 0px;
    }

    .formSubmitContainer :global(.vtex-button__label) {
        padding: 0px;
    }
 
}

@media (max-width: 700px) {

    :global(.vtex-store-newsletter-1-x-formSubmitContainer){
        text-align: center;
        width: 100%;
    }

    .newsletterForm{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .emailInputContainer--newsletterInput, .nameInputContainer--newsletterInput{
        width: 66%;
    }

    :global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button){
        width: 66%;
     }

     .newsletterTitle {
         margin: 0px;
         padding: 0px;
     }
}

@media screen and (min-width: 768px) {
    .emailInputContainer {
        margin-right: 2rem;
    }
}
