
.tileListItem,
.tileListList {
    padding: 10px;
}

.itemListTitle {
    font-family: "DINPro", sans-serif;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
}

.itemListItem {
    font-family: "Intelo", sans-serif;
}