/*.skuSelectorTextContainer{
    text-align: center;
}*/

.skuSelectorSubcontainer{
    margin-bottom: 5px;
}

.sellingPrice{
    color:#555555;
    font-size: 25pt;
    font-weight: 500;
    display: inline-block;
}

:global(.vtex-store-components-3-x-listPriceLabel), :global(.vtex-store-components-3-x-listPriceValue){
    font-size: 14pt;
}

.installmentsPrice{
    font-size: 17pt;
    font-weight: 600;
    display: inline-block;
    margin-left: 10px;
}

.savingPriceValue{
    color: #EA002A;
    font-size: 12pt;
}

:global(.vtex-store-components-3-x-price_installment){
    color: #EA002A;
    font-size: 17pt;
}

:global(.vtex-store-components-3-x-searchBarContainer){
    padding: 4px 0px;
}

.frameAround, .skuSelectorInternalBox{
    border-radius: 0;
}
.shippingContainer{
    margin-top: -23px;
}

.productDescriptionTitle{
    display: none;
}

.searchBarIcon--external-search{
    background-color: white;
}

:global(.vtex-store-components-3-x-externalSearchButtonWrapper){
    border: none;
}

:global(.vtex-store-components-3-x-searchBarContainer) :global(.vtex-input-prefix__group){
    border-color: #4F4F4F;
    border-width: 1px;
    border-radius: 10px;
}

:global(.vtex-store-components-3-x-skuSelectorTextContainer){
    margin-top: 1em;
}

.discountInsideContainer{
    border-radius: 2px;
    padding: 4px 14px;
}


@media (max-width: 700px) {
    :global(.vtex-store-components-3-x-logoContainer){
        margin-left: 25px;
    }

    .shippingContainer{
        margin-top: 23px;
    }

    
}
