
@font-face {
  font-family: 'Intelo';
  src: url('https://sportbras.vteximg.com.br/arquivos/Intelo-Regular.ttf.css'); 
  font-weight: normal;
}

@font-face {
  font-family: 'Intelo';
  src: url('https://sportbras.vteximg.com.br/arquivos/Intelo-Bold.ttf.css'); 
  font-weight: bold;
}

@font-face {
  font-family: 'Intelo';
  src: url('https://sportbras.vteximg.com.br/arquivos/Intelo-Light.ttf.css'); 
  font-weight: 200;
}

@font-face {
  font-family: 'StretchPro';
  src: url('https://sportbras.vteximg.com.br/arquivos/2tretchPro.ttf.css'); 
  font-weight: 'normal';
}

@font-face {
  font-family: 'StretchPro';
  src: url('https://sportbras.vteximg.com.br/arquivos/2tretchPro.ttf.css'); 
  font-weight: 'bold';
}


// Reset css

* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: #fff;
}

body#checkoutMainContainer {
  padding-top: 0px;
  background: rgba(242, 242, 242, 0.7);
}

body {
  background-color: #000;
}

// header
.container.logo-place {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px 0px !important;
  border-bottom: 1px solid #808080;
  max-width: unset;
  width: 100%;
  background-color: #fff;
}
// cart

table.table.cart-items {
  tr {
    th {
      font-family: 'Intelo', sans-serif;
      font-size: 21px;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;
      font-weight: bold;
      color: #4f4f4f;
    }
  }
}

.container.container-main.container-cart {
  max-width: 1320px;
  width: 100%;
  padding: 0px 20px;

  h1#cart-title {
    display: none !important;
  }

  span.link-choose-more-products-wrapper {
    display: none;
  }

  .cart {
    background: #fff;
    border: 1px solid #bdbdbd;
    padding: 20px 49px 20px 60px;
    -webkit-box-shadow: 19px 18px 31px -2px rgba(222, 222, 222, 1);
    -moz-box-shadow: 19px 18px 31px -2px rgba(222, 222, 222, 1);
    box-shadow: 19px 18px 31px -2px rgba(222, 222, 222, 1);
    margin-top: 20px;

    @media screen and (max-width: 768px) {
      padding: 10px;
    }

    table.table.cart-items {

      .product-price {
        position: relative;
        top: -10px;
      }

      thead {
        tr {
          th {
            font-family: 'Intelo', sans-serif;
            font-size: 21px;
            font-style: normal;
            font-weight: bold;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: #4f4f4f;
          }

          th.quantity,
          th.product-price,
          th.shipping-date {
            text-align: center;
          }
        }
      }
    }

    tr.product-item {
    
      .icon-remove:before {
        content: 'X';
        font-family: 'Intelo', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: #D20A11;
      }

      .quantity input {
        border: none;
        box-shadow: none;
      }

      td.product-name {

        a {
          display: block;
          font-family: 'Intelo', sans-serif;
          font-size: 16px;
          font-weight: normal;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;
          color: #4f4f4f;
          margin-bottom: 4px;
        }
      }

      td.shipping-date,
      td.product-price {

        .old-product-price,
        span {
          font-family: 'Intelo', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: normal;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
        }

        .old-product-price {
          color: #808080;
        }

      }

      td.quantity-price {
        span.total-price,
        span.total-selling-price {
          font-family: 'Intelo', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: normal;
          color: #4f4f4f;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
        }
      }

      td.product-image {
        padding-right: 20px;
        width: auto;
        max-width: 120px;

        img {
          width: 100%;
          height: 100%;
          max-width: unset;
          border: 1px solid #DEDEDE;
          box-sizing: border-box;
          border-radius: 5px;
          max-width: 99px;
        }
      }

      td.quantity {
        input {
          font-family: 'Intelo', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 300;
          color: #4f4f4f;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          width: 30px;
        }

        i {
          color: #D20A11;
        }
      }

      .seller,
      .brand {
        display: none;
      }
    }
  }
}

tbody.totalizers-list {
  td.info {
    text-align: left !important;
    width: 100%;
  }
}

td.info {
  text-align: left !important;
}

.summary-template-holder {
  border: none !important;

  .cart-more-options {
    margin: 0px;
  }

  div#shipping-preview-container h2 {
    font-family: 'Intelo', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .summary-totalizers.cart-totalizers {
    a#cart-link-coupon-add,
    p.coupon-data {
      font-family: 'Intelo', sans-serif;
      font-size: 17px;
      font-style: normal;
      font-weight: 200;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #4f4f4f;
      display: block;
      width: 100%;
      text-align: right;
      text-decoration: underline;
      white-space: nowrap;
      margin: 0px;
    }

    table.table {
      tfoot {
        tr {
          color: #D20A11;
          font-family: 'Intelo', sans-serif;
          font-size: 25px;
          font-style: normal;
          font-weight: bold;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
        }
        td.monetary {
          text-align: right;
          white-space: nowrap;
        }
      }
    }
    tbody.totalizers-list {
      tr,
      td {
        text-align: right;
        font-size: 22px;
        font-family: 'Intelo', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 26px;
        letter-spacing: 0em;
      }

  
      td.monetary {
        width: 100%;
      }

      td.empty {
        display: none;
      }
    }

    tfoot {
      td.monetary,
      td.info {
        color: #ED1C24;
        font-weight: bold;
      }
    }
  }
}

.coupon.summary-coupon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 55px !important;

  @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  a#go-back-link {
    font-family: 'Intelo', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: #4f4f4f;
    display: block;
    width: 100%;
    text-align: right;
    text-decoration: underline;
    margin-right: 23px;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
      margin: 0px;
      text-align: center;
      margin-bottom: 12px;
    }

  }
}

.full-cart .totalizers tfoot td {
  font-size: 25px !important;
}

div#shipping-preview-container {
  .srp-delivery-header {
    @media screen and (max-width: 768px) {
      max-width: unset;
      width: 100%;
    }

    span {
      font-family: 'Intelo', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      display: flex;

    }
  }

  @media screen and (max-width: 768px) {

    h2::after {
      content: "Veja as opções de entrega para seus ítens com todos os prazos e valores.";
      font-family: "Intelo";
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #4f4f4f;
      font-weight: normal !important;
      margin-top: 10px;
      display: block;
    }

    .srp-data.mt4 {
      display: none !important;
    }
  }

  a.srp-address-title {
    color: #D20A11;
    font-family: 'Intelo', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }

  .srp-shipping-current-single__description,
  .srp-shipping-current-single__sla {
    font-family: 'Intelo', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
  }

  .vtex-shipping-preview-0-x-postalCodeForgotten {
    display: flex;
    align-items: flex-end;
  }

  p.input.ship-postalCode {

    position: relative;

    &::before {
      content: "CEP";
      font-family: 'Intelo', sans-serif;
      font-size: 16px;
      font-style: normal;
      letter-spacing: 0em;
      text-align: left;
      display: flex;
      white-space: nowrap;
      width: 100%;
      margin-bottom: 15px;
      color: #4f4f4f;
      font-weight: bold;
    }

    width: 100%;

    label {
      display: none;
    }

    input {
      height: 40px;
      width: 100%;
      padding: 10px;
      font-family: 'Intelo', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      display: flex;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 4px;
      max-width: 172px;
    }
    small {
      a {
        position: absolute;
      font-family: 'Intelo', sans-serif;
      font-weight: normal;
      color: #31719F;
      }
    }
  }

  button#cart-shipping-calculate {
    height: 40px;
    margin-left: 12px;
    color: #31719F;
    font-family: 'Intelo', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
      border: 1px solid #31719F;
  box-sizing: border-box;
  border-radius: 4px;
  }

  p.srp-description {
    display: none;
  }

  span.help.error {
    display: none;
  }
}

a#cart-to-orderform {
  background: #ED1C24;
  color: #fff;
  border: none;
  width: 100%;
  min-width: 320px;
  font-size: 0px;
  font-family: 'Intelo', sans-serif;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "FINALIZAR COMPRA";
    font-size: 20px;
  }
}

// checkout steps

.checkout-steps {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  max-width: 1320px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 60px;

  @media screen and (max-width: 768px) {
    padding: 10px;
  }

  .step {
    width: 57px;
    flex-shrink: 57px;
    height: 57px;
    background: #bcc4bf;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
    min-width: 57px;
    border: none;
    position: relative;
  }
  .step--line {
    width: 100%;
    height: 2px;
    background: #bcc4bf;
  }

  span.step-label {
    color: #BCC4BF;
    font-family: Arial;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      position: absolute;
      bottom: -20px;
  }

  .active {
    background: #D20A11;

    span.step-label {
      color: #4f4f4f;
    }

  }
}

// Cart informations

h1#orderform-title {
  display: none !important;
}

.checkout-container {
  h1#orderform-title {
    display: none;
  }

  .orderform-template {
    div#client-profile-data {

      border: none  !important;

      label.checkbox.newsletter-label {
        display: none !important;
      }

      .client-profile-data {
        background-color: #fff;

        @media screen and (max-width: 768px) {
          padding: 10px;
        }

        label.checkbox.exempt-si-label {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: flex-start;
        }

        form.form-step {
          p.client-profile-email,
          label {
            font-family: 'Intelo', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: normal;
            line-height: 13px;
            color: #4f4f4f;
            letter-spacing: 0em;
            text-align: left;
          }

          input {
            height: 41px;
            font-family: 'Intelo', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 13px;
            color: #4f4f4f;
            margin-top: 8px;
            border: 2px solid #e0e0e0;
            border-radius: 4px;
            text-align: center;
            width: 100% !important;
            margin-left: 0px;
          }

          input[type='checkbox'] {
            position: relative;
            top: -5px;
            margin-right: 10px;
            width: auto;
          }
        }

        .input#client-last-name {
          width: 100%;
        }

        .corporate-info-box {
          p {
            width: 100%;
          }
        }

        fieldset.box-client-info-pf {
          p {
            width: 100%;
          }
          p.client-email {
            input {
              width: 100%;
            }
          }
        }

        p.submit.btn-submit-wrapper {
          text-align: center;
          margin-top: 26px;

          button {
            background: #D20A11;
            color: #fff;
            font-family: 'Intelo', sans-serif;
            font-size: 12px;
            font-weight: normal;
            line-height: 17px;
            letter-spacing: 0em;
            min-width: 183px;
            border: none;
            text-align: center;
            text-transform: uppercase;
          }
        }

        li.link a {
          font-family: 'Intelo', sans-serif;
          font-size: 10px;
          font-style: normal;
          font-weight: normal;
          line-height: 12px;
          letter-spacing: 0em;
          text-align: left;
          color: #4f4f4f;
        }

        p.client-notice.notice {
          font-size: 13px;
          font-style: normal;
          font-weight: 200;
          font-family: "Intelo", sans-serif;
          line-height: 14px;
          letter-spacing: 0em;
          color: #4f4f4f;
          text-align: left;
        }

        .accordion-heading {
          i.icon-user {
            display: none;
          }

          span {
            font-family: 'Intelo', sans-serif;
            font-size: 20px;
            font-style: bold;
            color: #4f4f4f;
            font-weight: normal;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
      }
    }
  }
}

div#shipping-data {
  .step {
    background: #fff;
    border: none !important;

    @media screen and (max-width: 768px) {
      padding: 10px;
    }
  }

  .leanShippingOptionActive {
    background: #fff;
  }

  input {
    height: 41px;
    font-family: 'Intelo', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 13px;
    color: #4f4f4f;
    margin-top: 8px;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    max-width: unset;
  }

  p.input.ship-number {
    width: 100%;
  }

  p.input {
    small {
      display: none;
    }
  }

  p.vtex-omnishipping-1-x-shippingSectionTitle {
    font-family: 'Intelo', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #4f4f4f;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }

  .accordion-heading {
    span.accordion-toggle.collapsed {
      font-family: 'Intelo', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      color: #4f4f4f;
    }

    i.icon-home {
      display: none;
    }
  }

  p.btn-go-to-payment-wrapper {
    text-align: center;

    button {
      background: #D20A11;
      color: #FFF;
      font-family: 'StretchPro', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      min-width: 183px;
      border: none;
      text-align: center;
    }
  }
}

.vtex-omnishipping-1-x-leanShippingGroupList {
  background-color: #fff !important;
}

span.quantity.badge {
  background-color: #000;
  color: #fff;
  font-family: "Intelo", sans-serif;
  width: 15px;
  height: 15px;
}

a#open-shipping {
  font-family: 'Intelo', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  background: #D20A11;
  color: #fff;
  border: none;
  text-decoration: none !important;
}

.cart-fixed {

  @media screen and (min-width: 768px) {
    max-width: 300px;
  }

  width: 100%;

  h2 {
    font-family: 'Intelo', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
    background-color: #fff;
    color: #4f4f4f;
  }

  span.shipping-date {
    display: none;
  }

  p#go-to-cart-button {
    display: none;
  }
}

.cart-totalizers {
  span.quantity.badge {
    background: #D20A11;
    color: #4f4f4f;
  }

  @media screen and (min-width: 768px) {  
      .accordion-inner {
        display: flex;
        justify-content: flex-end;

        table.table {
          max-width: 320px;
        }
      }
  }


  table.table {
    tfoot {
      td {
        text-align: right;
        font-size: 22px;
        font-family: Hind, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0;
        color: #4f4f4f;
      }
    }
  }
}

p.payment-submit-wrap {
  button {
    i.icon-lock {
      display: none;
    }

    background: #D20A11;
    color: #515151;

    min-width: 183px;
    border: none;
    text-align: center;
    text-shadow: none;
    border-radius: 4px;

    span {
      font-family: 'Intelo', sans-serif;
      color: #fff;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0em;
      font-weight: bold;
      text-transform: uppercase;
    }

    &:disabled,
    &:hover {
      background: #D20A11;
      opacity: 0.9;
    }
  }
}

div#payment-data {
  fieldset.payment-group {
    margin-top: 0px;
  }

  .steps-view {
    background-color: #fff;
    padding: 0px;
  }

  .step {
    border: none !important;

    @media screen and (max-width: 768px) {
      padding: 10px;
    }
  }

  i.icon-credit-card {
    display: none;
  }

  span.payment-group-item-text {
    background-image: none;
  }

  .required.payment-group-list-btn {
    a {
      border: 1px solid #dedede;
      border-radius: 4px;
      padding: 10px;
      margin: 10px 0px 0px;

      font-family: 'Intelo', sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      color: #4f4f4f;
      background: #fff;

      span {
        padding: 0px;
      }
    }
  }

  span.accordion-toggle {
    span {
      font-family: 'Intelo', sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      color: #4f4f4f;
    }
  }
}

.accordion-toggle .link-box-edit {
  background-color: #fff !important;
  border: none;
  top: 0px;
  right: 0px;
  box-shadow: none !important;
}

.icon-edit::before {
  color: #D20A11;
}

span.SecurityEnvironmentIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #D20A11;
  padding: 5px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  span.payment-environment-icon-text {
    text-align: center;
  }
}

.App.iframe-debit-card-payment-group,
.App.iframe-credit-card-payment-group {
  label.FormFieldLabel {
    font-family: 'Intelo', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #4f4f4f;
    margin: 0px 0px 10px;
  }

  input {
    text-align: center;
    font-family: 'Intelo', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #4f4f4f;
    border: 1px solid #dedede;
    border-radius: 5px;
    height: 44px;
    width: 100%;
    max-width: 300px;
  }

  p.ChangeNumberOfPayments {
    a {
      font-family: 'Intelo', sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 11px;
      letter-spacing: 0em;
      text-align: left;
      color: #bdbdbd;
    }
  }

  p.AddressToggle {
    display: flex;
    align-items: center;
  }

  .PaymentCardDueDate {
    display: flex;
    flex-wrap: wrap;

    label.FormFieldLabel {
      width: 100%;
    }

    p.payment-card-due-month {
      margin-right: 5px;
    }
  }

  input[type='checkbox'] {
    width: auto;
  }

  p.PaymentCardValue {
    display: flex;
    flex-direction: column;

    span.add-on {
      height: 44px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  p.PaymentCardCVV {
    display: flex;
    flex-direction: column;
    max-width: 180px;
  }

  p.PaymentCardHolderName {
    margin-top: 20px;
  }

  select {
    height: 50px;
  }

  p.payment-card-lash {
    display: none;
  }

  p.card-flags.active {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;

    label {
      margin-right: 5px;
      border-radius: 5px;
      border: 2px solid #dedede;
      display: flex;
      align-items: center;

      input {
        display: none;
      }
    }
  }
}

.cart-template.mini-cart {
  background: #fff;
  border: none !important;
  max-width: 300px;
  box-shadow: none !important;

  .cart-fixed {
    padding: 15px;
    height: auto !important;
    background-color: #fff;
    padding-bottom: 0px;

    img {
      border: 1px solid #DEDEDE;
      box-sizing: border-box;
      border-radius: 5px;
    }

    li.hproduct {
      padding-bottom: 30px;
      border: none;
    }

    span.fn.product-name {
      font-family: 'Intelo', sans-serif;
      font-size: 12px;
      font-weight: normal;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #4f4f4f;
    }

    strong.price {
      font-family: 'Intelo', sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 300;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: #4f4f4f;
    }

    table.table {
      tbody {
        td {
          font-size: 15px !important;
        }
      }

      span.quantity.badge {
        display: none;
      }

      tfoot {
        td {
          text-align: left;
          width: 100%;
        }
      }

      td {
        font-family: 'Intelo', sans-serif;
        font-size: 18px !important;
        font-style: normal;
        font-weight: normal;
        letter-spacing: 0em;
        color: #828282;
      }
    }
  }
}

form.form-page.client-pre-email {
  p.link.link-cart {
    a {
      position: relative;
      right: 15px;
      top: 5px;
    }
  }
}

svg.srp-icon-radio-selected.db path {
  fill: #000;
}

// Pre ewmail
form.form-page.client-pre-email {
  p.link.link-cart {
    display: none;
  }

  button#btn-client-pre-email {
    font-family: 'StretchPro', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    background: #D20A11 !important;
    border: none;
    border-radius: 0px;
  }
}


fieldset.pre-email.row-fluid {

  h3.client-pre-email-h {
    label {

      small {
        font-family: 'Intelo', sans-serif;
          font-weight: 200;
          font-size: 25px;
        text-transform: uppercase;
        color: #4f4f4f;

      }

      span {
        text-transform: uppercase;
        color: #4f4f4f;

        &:first-of-type {
          font-family: 'Intelo', sans-serif;
          font-weight: bold;
          font-size: 25px;
          letter-spacing: 0em;
          text-align: left;
        }

      }
    }
  }

.client-email.input {

}
}

// compra

div#app-container { background-color: #fff }

.container.container-main {
  width: 100% !important;
  padding: 0px 20px;
  max-width: 1200px;
}

.box-client-info {
  p.client-phone,
  p.client-last-name {
    max-width: 47%;
  }

  p.client-document,
  p.client-first-name {
    max-width: 49%;
    float: left !important;
  }
}

.form-step.box-info {
  font-family: "Intelo", sans-serif;
  color: #4f4f4f;
}

.box-step.box-info.shipping-summary-placeholder {
  font-family: "Intelo", sans-serif;
  color: #4f4f4f;
}

svg.vtex-omnishipping-1-x-svg path {
  fill: #D20A11;
}

.vtex-omnishipping-1-x-leanShippingOptionActive {
  background-color: #fff !important;
}

a#force-shipping-fields {
  color: #D20A11;
}

.vtex-omnishipping-1-x-addressSummaryActive .address-summary {
  background: #fff !important;
  padding: 15px !important;
}

p.vtex-omnishipping-1-x-shippingSectionTitle.delivery-address-title {
  display: none;
}

.accordion-inner.shipping-container {
  label {
    font-family: "Intelo", sans-serif;
    color: #4f4f4f;
    font-size: 16px;
  }
}

p.link.link-gift-card {
  position: initial !important;
}

form.form-step {

  .steps-view {
    @media screen and (min-width: 768px) {
      width: 75% !important;
    }
  }
}

label.srp-shipping-current-single {
  background-color: #fff;
  border-radius: 1px solid #dedede;
}


.summary-discount-descriptions {
  table.table {
    display: flex;
    flex-direction: column;
  }
  
  tbody.totalizers-list {
    td {
      display: flex !important;
      align-items: center;
    }
  }
}

// mobile custom
@media screen and (max-width: 768px) {

  p.client-last-name {
    margin-left: 13px;
  }

  .payment-confirmation-wrap {
    border: none !important;
  }

  .cart-fixed h2 {
    font-size: 20px;
  }

  .emailInfo {
    width: 100% !important;
    position: relative;
    top: 120px;
  }

  //email
  h3.client-pre-email-h {

    span {
      text-align: center !important;
      font-size: 23px !important;
      line-height: 30px;
    }

    small {
      font-weight: 200;
      margin-top: 9px;
      font-size: 20px;
    }
  }

  .client-email.input {
    margin-top: 24px;

    input#client-pre-email {
      padding: 20px;
      height: auto;
      border-radius: 0px;
      max-width: 340px;
      font-family: "Intelo", sans-serif;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: center;
      color: #808080;
    }

    button#btn-client-pre-email {
      min-width: 240px;
      background: #FF0000 !important;
      margin-top: 30px;
      height: 68px !important;


      span {
        font-family: "StretchPro", sans-serif;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;      
        display: block;
      }
    }

  }

  body#checkoutMainContainer {
    padding: 0pc;
    background-color: #fff;

    // h1#cart-title {
    //   display: block !important;
    //   margin: 0px;
    //   background-color: #fff;
    //   font-family: "Intelo", sans-serif;
    //     font-size: 16px;
    //     line-height: 19px;
    //     letter-spacing: 0em;
    //     text-align: left;
    //     font-weight: bold;
    // }

    .container.logo-place {

      a {
        img {
          max-width: 300px;
        }
      }

      border: none;
    }

    .checkout-steps {
      display: none;
    }

    .cart-template {
      padding: 0px 15px;
      .cart {
        padding: 0px;
        box-shadow: none;
        margin: 0px;

        table {
          tr, td {
            border: none;
          }
        }

        border: none;

        tr.product-item {
          padding: 30px 0px 70px;
        }

        tr.product-item.unavailable.lookatme {
          background-color: #fff;
        }

        td.product-image {
          img {
            border: none;
          }
        }

        td.quantity {
          position: absolute;
          margin: 0px;
          left: 0px;
          display: flex;
          align-items: center;
          bottom: 0px;

          input {
            height: 100%;
            width: 20px;
          }

          &::before {
            content: "Quantidade";
            font-family: "Intelo", sans-serif;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: #4f4f4f;
            margin-right: 20px;
          }

        }

        td.product-price {
          position: absolute;
          right: 0px;
          top: unset !important;
          bottom: 0px;
        }

        td.product-name {
          font-weight: bold;
          margin-left: 120px;
          margin-top: 30px;
        }
      }
    }
  }

  .coupon.summary-coupon {
    a#go-back-link {
      display: none;
    }
  }

  a#go-back-link {
    font-family: "Intelo", sans-serif;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #bdbdbd;
    text-decoration: underline;
    margin-top: 25px;
    display: block;
  }

  div#shipping-preview-container {
    h2 {
      font-size: 16px;
      margin-top: 43px;
      margin-bottom: 9px;

      @media screen and (max-width: 768px) {
        margin-bottom: 0px !important;
      }  
    }   

    @media screen and (min-width: 769px) {
      a#go-back-link {
        display: none;
      }
    }

  }

  .forms.coupon-column.summary-coupon-wrap {
    width: 100%;

    form.coupon-form {
      width: 100%;
    }

    .coupon.summary-coupon {
      margin: 9px 0px 10px;
    }

    p.coupon-data {
      width: 1005;
    }

    p.coupon-label {
      label {
        font-family: "Intelo", sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #4f4f4f;
      }
    }

    p.coupon-fields {
      span {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
      }

      i.loading-coupon {
        display: none;
      }

      input {
        width: 100%;
        padding: 20px;
        border: 2px solid #E0E0E0;
        font-family: "Intelo", sans-serif;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: #4f4f4f;
      }

      button {
        background: #D20A11;
        font-family: "Intelo", sans-serif;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;
        padding: 10px;
        margin-left: 10px;
      }
    }

    a#cart-link-coupon-add {
      width: 100%;
      text-align: left;
      font-family: "Intelo", sans-serif;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #bdbdbd;
      text-decoration: underline;
      display: block;
    }
  }

  .cart-totalizers {
    tbody.totalizers-list{
      tr, td  {
        font-size: 17px !important;
      }

      tr {
        border: none !important;
      }
    }
    tfoot {
      tr {
        td {
          font-size: 20px !important;
          color: #BF0811 !important;
        }
      }
    }
  }

  .cart-links-bottom {
    a#cart-to-orderform {
      padding: 19px;
      font-weight: normal;
    }
  }

  div#client-profile-data {
    background-color: #f4f4f4;

    .client-profile-data {
      background-color: #fff;
    }

    p.client-email {
      span {
        width: 100%;
        border: 2px solid #E0E0E0;
        background-color: #fff;
        border-radius: 6px;
        display: block;
        text-align: center;
        margin-top: 8px;
        height: 41px;
        font-family: Intelo,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 38px;
        color: #4f4f4f;
        margin-top: 8px;
        border: 2px solid #e0e0e0;
        border-radius: 4px;
        text-align: center;
        width: 100%!important;
      }
    }

    .box-client-info {
      input {
        border-radius: 6px !important;
      }
    }

    p.submit.btn-submit-wrapper {
      button {
        max-width: 205px;
        border-radius: 0px !important;
        font-weight: bold;
      }
    }
  }

  .step.accordion-group.client-profile-data {
    background-color: #F4F4F4 !important;
    margin-bottom: 0px;
    border: none;
  }

  .orderform-template-holder .client-profile-data  {
    p.client-phone,
    p.client-last-name {
      max-width: 47% !important;
      float: left !important;
    }
    
    p.client-document,
    p.client-first-name {
      max-width: 49%;
      float: left !important;
    }

    input#client-phone {
      margin-left: 3px;
    }
  
    input#client-last-name {
      margin-left: 13px;
    }
  }

  div#shipping-data {

    .step.accordion-group.shipping-data.vtex-omnishipping-1-x-shippingDataDev {
      margin-bottom: 0px;
    }

    p.vtex-omnishipping-1-x-submitPaymentButton.btn-submit-wrapper.btn-go-to-payment-wrapper {
      button {
        max-width: 205px;
        border-radius: 0px;
        text-transform: uppercase;
      }
    }

    label {
      font-size: 13px !important;
    }

    label#CHEAPEST,
    .vtex-omnishipping-1-x-addressForm .address-summary.address-summary-BRA,
    input {
      border-radius: 8px;
      border: 2px solid #e0e0e0;
    }

    .step.shipping-data {
      background-color: #f4f4f4 !important;
    }
  }

  div#payment-data {
    background: #f4f4f4;

    .App.iframe-debit-card-payment-group,
    .App.iframe-credit-card-payment-group,
    .required.payment-group-list-btn,
    .step.accordion-group.store-country-BRA {
    background: #f4f4f4;

    }

    .App.iframe-debit-card-payment-group {
      padding: 15px;
    }

    .required.payment-group-list-btn {
      margin-bottom: 0px;
    }

    .cart-template.mini-cart {
      max-width: unset !important;
    }

    .required.payment-group-list-btn {
      a {
        border-radius: 8px;
        border: 2px solid #e0e0e0;
        margin: 0px;
        margin-bottom: 10px;

        &:last-of-type {
          margin: 0px;
        }

      }
    }
  }

  .App.iframe-debit-card-payment-group,
  .App.iframe-credit-card-payment-group {
    label {
      font-family: "Intelo", sans-serif;
      font-size: 18px;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 9px;
      display: block;
      color: #4f4f4f;
      margin: 15px 0px !important;
  }

  input {
    width: 100% !important;
    padding: 1px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    height: 42px;
    font-family: "Intelo", sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0em;
    color: #4f4f4f;
    max-width: unset;
    text-align: center;
  }

  input#address-toggle-1,
  input#address-toggle-0 {
    max-width: 15px;
  }
  }

  div#app-container {
    background-color: #F4F4F4;
  }

  .note.summary-note.hide {
    button {
      max-width: 320px;
      border-radius: 0px;
      text-transform: uppercase;
    }
  }

  div#iframe-placeholder-creditCardPaymentGroup {
    html {
      background-color: #F4F4F4;
    }
  }

  body#checkoutMainContainer .cart-template {
    max-width: unset !important;
  }

}

@media screen and (min-width: 768px) {
  div#shipping-preview-container {
    #go-back-link {display: none;}
  }
}

.App.iframe-debit-card-payment-group,
.App.iframe-credit-card-payment-group {
  padding: 15px;
}

a.payment-group-item {

  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    outline: 2px solid #D20A11;
    top: 17px;
  }

  span.payment-group-item-text {
    padding-left: 45px !important;
  }

  span {
    white-space: nowrap;
  }

  &.active {
    &::after {
      background-color: #D20A11;
      border: 2px solid #fff;
    }
  }
}


label[for='client-first-name'],
label[for='client-last-name'] {
  font-size: 0px !important;
}

label[for='client-first-name']::before {
  content: "Nome";
  font-size: 16px !important;
}

label[for='client-last-name']::before {
  content: "Sobrenome";
  font-size: 16px !important;
}

label[for="address-toggle-1"],
label[for="address-toggle-0"] {
  font-family: "Intelo", sans-serif !important;
  font-size: 12px !important;
  line-height: 11px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #4f4f4f !important;
}