.customCollapsibleContainer {
}

.customCollapsibleContainerText {
}

.customCollapsibleContainerItems {
}

.customCollapsibleContaineLabel {
}

.customCollapsibleContaineLabelPrefix {
}

.customCollapsibleContainer--custom {
  max-width: 1200px;
  margin: 0px auto;
}

.customCollapsibleContainerButtonSubItem {
}

.customCollapsibleContainerButton {
}

.customCollapsibleContainerButtonSubItem--custom,
.customCollapsibleContainerButton--custom {
  width: 100%;
  background-color: #DBDBDB;
  border: none;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Intelo', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  color: #3f3f40;
  border-top: 1px solid #CFCFCF;
  text-align: left;
  font-weight: bold;
}

.customCollapsibleContainerButtonSubItem--custom {
  margin-bottom: 0px;
  border: 1px solid #CFCFCF;
  background-color: #ebebeb;
  font-size: 20px;
  padding: 15px 30px;
}

.customCollapsibleContainerText {
  padding: 15px 30px;
  margin: 0px;
  border-left: 1px solid #CFCFCF;
  border-right: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF;
  color: #6f6f6f;
  font-family: 'Intelo', sans-serif;
  letter-spacing: 0.15px;
  font-size: 20px;
  color: #4f4f44;
  background-color: #F9F9F9;
}

@media screen and (max-width: 768px) {
  .customCollapsibleContainerButton--custom {
    font-size: 14px;
  }

  .customCollapsibleContainerButtonSubItem--custom {
    font-size: 12px;
  }

  .customCollapsibleContainerText {
    font-size: 14px;
  }
}
